.footerSection {
    background-color: hsl(260, 8%, 14%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(0rem, 5vw, 6rem);
    padding-top: 4.5rem;
    padding-bottom: 5rem;
}

@media (max-width: 810px) {
    .footerSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem !important;
    }

    .footerSection > h1 {
        text-align: center !important;
        margin-left: 2.5rem !important;
    }

    .footerSection > ul {
        align-items:  center !important;
    }
}


.footerSection > h1 {
    color: white;
    font-size: 2.2rem;
    line-height: 1;
    margin: 0px;
}

.footerSection > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.4rem;
    margin: 0px;
}

ul > .listLabels {
    color: white !important;
    margin-bottom: 1rem;
    cursor: default;
}

ul > .listLabels:hover {
    color: whtie;
}

.footerSection > ul > li {
    font-weight: 500;
}

.footerSection > ul > li:hover {
    color: hsl(180, 66%, 49%);
}

.footerSection > .socialsList {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerSection > .socialsList > img {
    cursor: pointer;
    transition: 300ms;
}

.footerSection > .socialsList > img:hover {
    opacity: 0.7;
}