.linkForm {
    position: relative;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5rem;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: url(../assets/bg-shorten-desktop.svg);
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    width: 74.5%;
    height: 9rem;
    border-radius: 12px;
    margin-top: 0rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

input {
    width: 60%;
    height: 3rem;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.errortrue {
    border: solid hsl(0, 87%, 67%) 2px;
    color: hsl(0, 87%, 67%);
    outline: none;
}

.errorMessage {
    text-align: left;
    width: 73%;
    color: hsl(0, 87%, 67%);
    margin-top: 5px;
}

form > button {
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.listSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}


@media (max-width: 865px) {

    .linkForm {
        align-items: center !important;
    }

    .formSection {
        width: 64%;
        align-self: center !important;
    }

    .formSection > form {
        flex-direction: column;
    }

    .formSection > form > input {
        width: 80%;
    }

    .formSection > form > button {
        width: 86%;
    }

    .listSection > ul > li {
        width: 60% !important;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0px !important;
    }

    .listSection > ul > li > button {
        width: 100%;
        margin-bottom: 1rem;
    }

    .mainLink {
        margin-right: 0px !important;
        margin-bottom: 0px;
    }
}


.listSection > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;
    margin-top: 2rem;
    margin-left: -2rem;
}

.listSection > ul > li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73.4%;
    background-color: rgb(255, 255, 255);
    color: hsl(180, 66%, 49%);
    gap: 1.3rem;
    padding: 0.4rem 2rem;
    border-radius: 5px;
    cursor: default;
}

.listSection > ul > li > p {
    cursor: text;
}

.mainLink {
    margin-right: auto;
    color: hsl(260, 8%, 14%);
    font-weight: 500;
}

.listSection > ul > li > button {
    border-radius: 5px;
    padding: 0.7rem 2rem;
}

.copiedButton {
    background-color: hsl(257, 27%, 26%) !important;
}

.deleteBtn {
    color: hsl(0, 87%, 67%);
    font-size: 1.4rem;
    opacity: 0;
    transition: 200ms;
    cursor: pointer;
    text-align: center;
}

@media(max-width: 850px){
    .deleteBtn{
        opacity: 1;
        width: 100%;
        background-color: hsl(0, 87%, 67%);
        border-radius: 5px;
        color: white;
        margin-bottom: 1rem;
    }

    .deleteBtn:hover {
        background-color: hsl(0, 100%, 73%);
    }
}

.listSection > ul > li:hover .deleteBtn {
    opacity: 1;
}

