.navBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    position: relative;
    padding-right: 0rem !important;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 2rem;
}

li {
    font-size: 1.1rem;
    font-weight: 700;
    list-style: none;
    color: hsl(257, 7%, 63%);
    cursor: pointer;
    transition: 400ms;
}

.navBar > ul > li:hover {
    color: hsl(255, 11%, 22%);
}

.navbarBtns {
    margin-left: auto;
    margin-right: 15rem;
    display: flex;
    gap: 1.6rem;
}

.greyBtn {
    color: hsl(257, 7%, 63%);
    background-color: transparent;
    cursor: pointer;
    transition: 400ms;
}

.greyBtn:hover {
    background-color: transparent;
    color: hsl(255, 11%, 22%);
}

.hamburgerBtn {
    background-color: transparent;
    margin-left: auto;
    transition: 300ms;
}

.hamburgerBtn:hover {
    background-color: transparent;
    scale: 1.1;
}

.hamburgerBtn > img {
    width: 2.6rem;
}

.openHamburger {
    position: absolute;
    top: 5rem;
    z-index: 99;

    background-color: hsl(257, 27%, 26%);
    width: 90%;
    min-height: 20rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 530px) {
    .openHamburger {
        width: 86%;
    }
}

@media (max-width: 345px) {
    .openHamburger {
        width: 80%;
    }
}


.openHamburger > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 1rem 1rem;
}

.openHamburger > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.openHamburger > ul > li:hover {
    color: rgb(199, 199, 199);
}

.openHamburger > button {
    width: 80%;
}

.greyBtn.login {
    color: white !important;
}

.greyBtn.login:hover {
    color: rgb(199, 199, 199) !important;
}

@media (max-width:740px) {
    .navBar > ul {
        display: none !important;
    }

    .navbarBtns {
        display: none !important;
    }
}

hr {
    width: 80%;
    color: hsl(257, 27%, 40%);
}