@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.padded {
    padding-left: 15rem;
}

button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: 400ms;
}

button:hover {
    background-color: hsl(180, 66%, 70%);
}

.greyBG {
    background-color: hsl(0, 0%, 0%);
}